<script lang="ts">
  import { useTodoListStore } from '../store/useTodoListStore'
  import { defineComponent, ref } from 'vue'

  export default defineComponent({
    setup() {
      const todo = ref('')
      const store = useTodoListStore()

      function addItemAndClear(item: string) {
        if (item.length === 0) {
          return
        }
        
        store.addTodo(item)

        todo.value = ''
      }

      return { todo, addItemAndClear, store }
    },
  })
</script>

<template>
  <form @submit.prevent="addItemAndClear(todo)">
    <input v-model="todo" type="text" /><button>Add</button>
  </form>
</template>