<script lang="ts">
  import { useTodoListStore } from "../store/useTodoListStore";
  import { storeToRefs } from "pinia";
import { defineComponent } from "vue";

  export default defineComponent({
    setup() {
      const store = useTodoListStore();
      const { todoList } = storeToRefs(store);
      const { toggleCompleted, deleteTodo } = store;

      return { todoList, toggleCompleted, deleteTodo };
    },
  })
</script>

<template>
  <div v-for="todo in todoList" :key="todo.id">
    <div>
      <span :class="{ completed: todo.completed }">{{ todo.item }}</span>
      <span @click.stop="toggleCompleted(todo.id)">&#10004;</span>
      <span @click="deleteTodo(todo.id)">&#10060;</span>
    </div>
  </div>
</template>

<style scoped>
  .completed {
    text-decoration: line-through;
  }
</style>